<h1>Travel</h1>
<ul id="sites">
    <li>
        <a href="/travel"><img src="/images/reef1.jpg" alt="Img"></a>
        <h2><a href="/travel">Gale Reef</a></h2>
        <p>
            Sed et augue lorem. In sit amet placerat arcu. Mauris volutpat ipsum ac justo mollis vel vestibulum orci gravida.
        </p>
        <p>
            Sed consequat libero ut turpis venenatis ut aliquam risus semper. Etiam convallis mi vel risus pretium sodales.
        </p>
    </li>
    <li>
        <a href="/travel"><img src="/images/reef2.jpg" alt="Img"></a>
        <h2><a href="/travel">Dawson’s Reef</a></h2>
        <p>
            Integer magna leo, posuere et dignissim vitae, porttitor at odio. Pellentesque a metus nec magna placerat volutpat.
        </p>
        <p>
            Morbi aliquet viverra metus eu consectetur. In lorem dui, elementum sit amet convallis ac, tincidunt vel sapien.
        </p>
    </li>
    <li>
        <a href="/travel"><img src="/images/reef3.jpg" alt="Img"></a>
        <h2><a href="/travel">Claire’s Reef</a></h2>
        <p>
            Donec sed felis risus. Nulla facilisi. Donec a orci tellus, et auctor odio.
        </p>
        <p>
            In hac habitasse platea dictumst. Integer purus justo, egestas eu consectetur eu, cursus in tortor.
        </p>
    </li>
</ul>
